<table class="table table-hover">

        <tr>
            <td>          
            	<div id={{post.id}} onclick="displayAndShow('{{post.id}}')">

		            <b>Java Post:                                </b>
		                {{ post.content }}
		            
		            {% if post.code %}
		          
		            	<br>
		            <b>Code:                                      </b>
		                {{ post.code }}
		                            
		        	{% endif %}

		        	<div id='recommends' style="display: none">
			        {% if post.reclist %}
			        	{% for recommendations in post.reclist %}
			        		{% include '_recommendation.html' %}
			    		{% endfor %}
			    	{% endif %}
			    	</div>
	    		</div>
        	</td>
        </tr>
</table>