
            	<div style="cursor: pointer;" class="panel " id={{post.id}} onclick="displayAndShow('{{post.id}}')">
        			<li class="panel-heading font-weight-bold">
        				<h5><h3>Post:{{ post.id}}</h3><br> <br>{{ post.content }} 		           		            
		            {% if post.code %}	          
		            <br>
		            <b>Code:</b><br>
		                {{ post.code }}	                            
		        	{% endif %}
					</h5>
		        	
			        {% if post.reclist %}

			        <div id='recommends{{post.id}}' style="display: none">
			        	<h4> Recommended posts:</h4>
			        	<ul class="panel-body list-group">
			        	{% for recommendations in post.reclist %}
			        		{% include '_recommendation.html' %}
			    		{% endfor %}
			    		<ul>
			    	</div>
			    	{% endif %}			    	
			    </li>
	    		</div>
