<table class="table table-hover">
        <tr>
            <td>          
            Content:                                
                {{ post.content }}
            </td>
            <td>    
            	{% if post.code %}
            Code:                                      
                {{ post.code }}
                {% endif %}
            </td>
        </tr>
        <tr>
        	{% if post.reclist %}
	        	{% for recommendations in post.reclist %}
	        		{% include '_recommendation.html' %}
	    		{% endfor %}
	    	{% endif %}
        </tr>
</table>