        
        <div class="list-group-item  list-group-item-success">
            <li>
                
                {% if recommendations.doc_type == 'Text' %}                
                {{ recommendations.content }}
                {% elif recommendations.doc_type == 'Code'%}
                {{ recommendations.content|safe }}
                {% endif %}
                <br>
                <b>Source:</b>
                    {{ recommendations.url|safe}}
                
            </li>
        </div>