{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    <div>
    	<h3>Social Visualization on User Behavior</h3>
    </div>
    
    <table >
      <tr>
        <td><div id="piechart2" style="width: 900px; height: 500px;"></div></td>
      </tr>
    </table>
    
    
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
</script>
<script type="text/javascript">
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);


        function drawChart() {

        	var barchar_resp ;
        	var jax = new XMLHttpRequest();
        	jax.onreadystatechange = function() {
 	   		if (jax.readyState == XMLHttpRequest.DONE) {
    	    	barchar_resp = jax.responseText;
    	    	console.log(barchar_resp);
    	    	data_bar = JSON.parse(barchar_resp);


      var data = google.visualization.arrayToDataTable([
        ['Actions', 'No of actions'],
        ['Upvotes', data_bar['upvotes']],
        ['Downvotes', data_bar['downvotes']],
        ['Questions Read', data_bar['ques_clicked']],
        ['Answers posted', data_bar['answers_posted']],
        ['Questions Asked', data_bar['ques_asked']]
      ]);

              var options = {
          title: 'Your Actions in Stack Overflow',
          is3D: true,
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data, options);

    			}
			}
    		jax.open("GET","http://localhost:5000/getActionCounts");
  			jax.send();  			
    }
    </script>
{% endblock %}