{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    <div>
    	<h3>Social Visualization on User Behavior</h3>
    </div>
    
    <table >
      <tr>

        <td><div id="piechart" style="width: 900px; height: 500px;"></div></td>
      </tr>
    </table>
    
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
</script>
<script type="text/javascript">
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);


        function drawChart() {
        	var barchar_resp ;
        	var jax = new XMLHttpRequest();
        	jax.onreadystatechange = function() {
 	   		if (jax.readyState == XMLHttpRequest.DONE) {
    	    	barchar_resp = jax.responseText;
    	    	console.log(barchar_resp);
    	    	data_bar = JSON.parse(barchar_resp);
      var data = google.visualization.arrayToDataTable([
          ['User', 'Questions clicked'],
          ['AAA',     data_bar['aaa_ques_clicked']],
          ['BBB',     data_bar['bbb_ques_clicked']],
          ['CCC',     data_bar['ccc_ques_clicked']]
        ]);

        var options = {
          title: 'Your Question Reads compared with others users',
          is3D: true,
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);

    			}
			}
    		jax.open("GET","http://localhost:5000/getSocialCounts");
  			jax.send();  			
    }
    </script>
{% endblock %}